{%extends 'layout.html'%}

{% block title %} {{title}} {% endblock %}
{% block content%}

{% comment 'Esto es un comentario' %}
	<h2>Comentario con Django</h2>
{% endcomment %}

<h1 class="title">{{title}}</h1>
<p>{{mi_variable}}</p>

{% if name and name == 'Michael' %}
<p>{{name}}</p>
{% else %}
<strong>El nombre no existe o no coincide</strong>
{% endif %}

	<h3>Listado de lenguajes de programación</h3>
	<ul>
	{% for language in languages %}
		<li>{{forloop.counter}}. {{language}} </li>
		{% empty %}
		<p>No hay lenguajes Que mostrar</P>
	{% endfor %}
	</ul>

	<p>Años	hasta el 2050:</p>
	<ul>
		<!-- Ejercicio de los años y sacar los años  pares del 2021 a 2050-->
		{% for year in years %}
			{% if year|divisibleby:2 == True %}
			<li>{{year}}</li>
			{% endif %}
		{% endfor %}
	</ul>
{% endblock %}
