{%extends 'layout.html'%}

{% block title %} {{title}} {% endblock %}
{% block content%}


{% comment 'Esto es un comentario' %}
	<h2>Comentario con Django</h2>
{% endcomment %}

<h1 class="title">{{title}}</h1>
<p>{{mi_variable}}</p>

{% if name and name == 'Michael' %}
<p>{{name}}</p>
{% else %}
<strong>El nombre no existe o no coincide</strong>
{% endif %}

	<h3>Listado de lenguajes de programación</h3>
	<ul>
	{% for language in languages %}
		<li>{{forloop.counter}}. {{language}} </li>
		{% empty %}
		<p>No hay lenguajes Que mostrar</P>
	{% endfor %}
	</ul>
	
	{% include  'fecha_actual.html'  with saludo="Hola mundo desde plantilla" %}

{% endblock %}
